<app-auth></app-auth>

<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <h1>Family</h1>
    </div>
    <div class="col-4"></div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <label class="form-text">Family ID : </label>
      <input type="text" value="{{ familyId }}" class="form-control" readonly />
      <p>please share the above id only to your family members.</p>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<app-header></app-header>
<app-footer></app-footer>
