<app-admin-auth></app-admin-auth>

<div class="container">
  <h2 style="text-align: center">All Users</h2>
  <br />
  <br />
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <ul *ngFor="let user of users">
        <li>
          {{ user.name }}
          <button
            style="float: right"
            class="btn btn-primary"
            (click)="onUserView(user._id)"
          >
            View
          </button>
        </li>
        <br />
      </ul>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<app-header></app-header>
<app-footer></app-footer>
