nav {
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
}

nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
