<app-admin-auth></app-admin-auth>

<div class="container">
  <h2 style="text-align: center">Task</h2>
  <br />
  <div class="content">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-4">
        <label>Task Name</label>
      </div>
      <div class="col-4">
        {{ task.name }}
      </div>
      <div class="col-2"></div>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
<app-header></app-header>
<app-footer></app-footer>
